html {
  background-color: black;
}

body {
  margin: 0px
}

.top {
  background-color: black;
  color: white;
  padding: 5em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
}



.aboutMe {
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 5em;
  font-size: 150%;
}

p {
  max-width: 70%;
  margin: auto;
}

.aboutMeBorder {
  width: 50%;
  height: 1px;
  margin: auto;
  margin-top: 30px;
  background: white;
}

.links {
  font-family: 'Montserrat', sans-serif;

}

.leftSide {
  color: white;
  padding: 2em;
  padding-bottom: 3em;
  text-align: center;
  
}

ul {
  list-style: none;
}

span {
  padding: 2em;
  text-align: left;
  font-size: 150%;
  border: 1px;
  border-style: solid;
  border-color: white;
  margin-left: 20em;
}

a:visited {
  color: lightblue;
}

a:link {
  color: lightblue;
  text-decoration: none;
}